---
import Button from "./Button.astro";
---

<a class="min-w-max text-white" href="#cta">
  <Button variant={"primary"}>
    <span class="flex relative z-[5] text-center"> Ayo Daftarkan Sekarang!</span>
  </Button>
</a>
